{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "bracketSameLine": false,
  "proseWrap": "always",
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
