
{{ define "components/input.html" }}
<!-- 
type InputData struct {
    Label string
    Disabled bool
    Value string
    Name string
}
 -->
<div class="relative w-11/12 h-20 group mb-8">
    <div
        class="absolute w-full h-full bg-gradient-to-r from-cyan-100
        to-blue-400 rounded-lg blur opacity-75 group-hover:scale-110
        group-hover:duration-200 group-hover:from-blue-400
        group-hover:to-cyan-100 ease-in-out transition-all h-22"
    ></div>
    <div
        class="relative px-8 py-4 bg-slate-600 rounded-lg leading-none
        flex flex-col items-center justify-start group-hover:text-sky-100
        group-hover-scale-105 group-hover:duration-200"
    >
        <label for="{{ .Name }}-input" class="text-cyan-300 mb-1 text-sm {{ if ne .Value "" }}text-sm opacity-60{{ end }}">
            {{ .Label }}
        </label>
        <input
            type="text"
            name="{{ .Name }}"
            id="{{ .Name }}-input"
            {{ if .Disabled }}disabled{{ end }}
            value="{{ .Value }}"
            placeholder="{{ .Label }}"
            class="rounded-lg bg-slate-600 text-cyan-100 w-64 h-8
            focus:outline-none focus:ring-0 transition-all
            duration-200 ease-in-out"
        >
    </div>
</div>
{{ end }}

