{{ define "game/form.html" }}
<!DOCTYPE html>
<!--
    Game Request
    Name string `json:"name"`
    Description string `json:"description"`
    Nation string `json:"nation"`
    Passkey string `json:"passkey"`
-->
<form
    class="flex flex-col justify-center align-middle"
    hx-post="/game"
    hx-target="#game-list" 
>
    <div class="flex flex-row justify-center align-middle" >
        <span class="text-2xl">Create Game</span>
    </div>
    <div class="flex flex-row justify-center align-middle" >
        <div class="flex flex-col justify-center align-middle">
            <label for="name">Name</label>
            <input
                type="text"
                name="name"
                id="name"
                class="rounded-lg bg-orange-600 text-orange-300 w-24 h-12"
            ></input>
        </div>
        <div class="flex flex-col justify-center align-middle">
            <label for="description">Description</label>
            <textarea
                type="text"
                name="description"
                id="description"
                class="rounded-lg bg-orange-600 text-orange-300 w-24 h-12"
            ></textarea>
        </div>
    </div>
    <div class="flex flex-row justify-center align-middle" > 
        <div class="flex flex-col justify-center align-middle">
            <label for="nation">Nation</label>
            <input
                type="text"
                name="nation"
                id="nation"
                class="rounded-lg bg-orange-600 text-orange-300 w-24 h-12"
            />
        </div>
        <div class="flex flex-col justify-center align-middle">
            <label for="passkey">Passkey</label>
            <input
                type="text"
                name="passkey"
                id="passkey"
                class="rounded-lg bg-orange-600 text-orange-300 w-24 h-12"
            />
        </div>
    </div>
    <div class="flex flex-row justify-center align-middle" >
        <div class="flex flex-col justify-center align-middle">
            <button
                class="rounded-lg bg-orange-600 text-orange-300 w-24 h-12
                    hover:bg-orange-300 hover:text-orange-600"
            >
                Create Game
            </button>
        </div>
    </div>
</form>
{{ end }}
